@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600&family=Spline+Sans:wght@700&display=swap');
:root{
  --primary: #3b354d;
  --secondary: #000000e0;
  --error: #ff4a4a;
}

html{
  background: rgb(202, 202, 202);
}

/* base styles & title */
body{
  font-family: 'Hind Madurai', sans-serif;
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  font-family: 'Spline Sans', sans-serif;
  color: var(--primary);
  width: 100%;
  font-size: 250%;
  letter-spacing: -3px;
  word-spacing: -3px;
  border-bottom: 3px solid #15105a;
}

.fire {
  color: rgb(255, 145, 0);
  font-size: 46px;
  font-weight: 400;
}

.title h2{
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */

form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 60px;
  height: 30px;
  border: 2px solid var(--primary);
  border-radius: 10%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin: 20px;
  border-radius: 40px;
}


/* image grid styles */
.grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 50%;
  max-width: 50%;
  background-position: 30%, 0 ;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 100%;
  max-height: 80%;
  margin: 60px auto;
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
  }

  .title h2 {
    font-size: 30px;
  }
}